body {
    background-image: url(../images/bg.jpg);
}

table.main {
    width: 80%;
    background-color: white;
    margin: 0 auto;
}

thead img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.center {
    text-align: center;
}
table.f {
    width: 100%;
    background-color: #0a6fa3;
}

table.f tr td:last-child {
    text-align: right;
}