.product {
    width: 100%;
}

ul.menu {
    flex-direction: column;
}

ul.menu > li {
    border-right: none;
}

nav ul {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    overflow: hidden;
    z-index: 999;
}

.show {
    display: block;
}

.show-nav {
    right: unset;
}

